* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
:root {
  --font: "Roboto", sans-serif;
}
.header {
  background-image: url("./img.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcf810;
  position: relative;
}
.header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 4.5rem;
}
.header p {
  font-size: 1.8rem;
}
section {
  width: 80%;
  margin: auto;
}
.section {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
h2 {
  font-weight: 500;
  padding: 30px 0;
  font-size: 2.5rem;
}
p {
  font-weight: 300;
}
h3 {
  font-weight: 400;
  padding: 20px 0;
}
button {
    color: #fff;
  background-color: #fcf810;
  width: 300px;
  padding: 20px;
}
footer {
  width: 80%;
  margin: auto;
  display: flex;
}
footer p {
  margin-right: 30px;
}
